html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:rgb(65, 82, 24);
    width: 100%;
}



.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color:#F2785C;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 70%;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5)
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  
    text-decoration: nones;
    list-style-type: none;
    
    
}



.header__nav {
    margin: 35px 34px;
    
}

.header__list{
    display: flex;
    flex-wrap: wrap;


}

.header__item{
    padding-right: 6px;
    list-style-type: none;
}
.header__item:last-child {
    margin-right: none;
}

.header__link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color:aliceblue;
    text-decoration: none;
    list-style-type: none;
}


.button__login {
color: #ffffff;
margin: 0px 0px 0px 0px;
padding: 10px 30px;
background: #0D606F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;

}


/* logo */

.header__logo {
padding: 0px 0px 0px 0px;


font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
}

.header__login_text {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}


.header__login_text{
    display: inline-block;
    padding-left: 0px;

    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

}


/* main */
.wrapper__preview{
    max-width: 1440px;
    margin: 32px 428px 221px 120px;

}


.preview {
    /* min-height: 100vh; */
    background-size: cover;


    background: url("./img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg") no-repeat 0 0/100% auto;
    padding-top: 122px;
    padding-bottom: 33px;

}


.preview__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    
    color: #FFFFFF;
    max-width: 892px;

    margin-bottom: 22px;
}

.preview__subtitle {
    font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;

max-width: 546px;

color: #FFFFFF;
margin-bottom: 46px;
}

/* input */

.search-form__wrap{
    margin-left: 0px;
    border: 0;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
    

}

.search-form__field {
background: rgba(255, 255, 255, 0.7);
border-radius: 16px;
width: 892px;
height: 95px;
opacity: 70%;
z-index: 1;
}


input::placeholder{
    
    font-family: 'Aleo';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #F2785C;
}


.search-form__submit {

width: 228px;
height: 59px;
left: 766px;
top: 434px;

background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
margin-left: -250px;
z-index: 2;
}

/* h3 */

h3 {
    margin: 40px 415px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    
    
    color: #F2785C;
}
/* section 2 */
.steps {
display: inline-block;
justify-content: center;
align-items: center;

    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
}

.steps__item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 131px 13px 13px;
margin-left: 204px;
margin-right: 204px;
}



.step1, .step2, .step3  {
padding: 25px;
    background: #F2785C;
    border-radius: 16px;
}

h4{
    margin:-13px  50px;
display: inline-block;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #0D606F;
}

.step__h {
margin-left: 131px;
margin-right: 204px;
margin-top: 13px;
}

/* slider */
.wrap-slider{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100px;
   }
   .slider-left {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
    max-height: 300px;
   }

    #i_1:checked ~ .wrapper .content1,
    #i_2:checked ~ .wrapper .content2,
    #i_3:checked ~ .wrapper .content3 {
        opacity: 1;
        pointer-events: auto;
    }


    #i_1:checked ~ .controls label[for="i_1"],
    #i_2:checked ~ .controls label[for="i_2"],
    #i_3:checked ~ .controls label[for="i_3"]
    {
    color: #424242;
    }

    /* stories */
    .wrap__stories{
        display: flex;
        flex-wrap: wrap;
        height: 1270px;
        margin: 0;    

        background: rgba(255, 255, 255, 0.7);
        opacity: 70%;
        
        background-size: cover;
        padding-top: 40px;
        z-index: -1;
        }
/* 
        .wrap__stories{
            display: flex;
            flex-wrap: wrap;
            height: 1331px;
            margin: 0 0 0 0;    
            background: url("./back_stories.jpg") no-repeat 0 0/100% auto;
        
            opacity: 70%;
            min-height: 100vh;
            background-size: cover;
           
            } */

    /*stories text  */
.stor__logo {
float: left;
margin: 0px 40px 0px 120px;
max-width: 100%;
height: auto;
filter: drop-shadow(0px 4px 4px #0D606F);
border-radius: 16px;
}




.stor__title {
margin: 40px 125px 24px 40px;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;



color: #0D606F;
}


.stori__info{
    margin: 24px 125px 30px 40px;
    display: block;

    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #0D606F;
}
/* footer */

footer {
   
    display: flex;
  
    
    justify-content:flex-end;
    align-items: flex-end;
    height: 1331px;
    margin: -1270px 0 0 0;    
    background: url("./back_stories.jpg") no-repeat 0 0/100% auto;


    
  }


  h5 {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;
  }

  .footer-right{
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: 415px;
  }


  .img__footer{
    display: block;
    padding-left: 20px;
  }