
body {
    min-width: 940px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: black;
    background-color:antiquewhite;
  } 

img {
width: 90px;

}

footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #45a1ff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


header {
  display: inline;
}


.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #45a1ff;
}

.navigation__li {
  float: left;
}

.navigation__li__a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navigation__li__a:hover {
  background-color: #45a1ff;
}

.avatar {
  border-radius: 100px; 
  border: 3px solid green; 
  box-shadow: 0 0 7px #666;
}